DATABASE_URL="file:./dev.db"
AUTH_SECRET="change-me-to-a-random-32-byte-string"
SIGNUP_BONUS_POINTS=100
PLAY_PASS_TTL_SECONDS=120
STATION_API_KEY="change-me"
OTP_DEV_MODE="true"
PAYSTACK_SECRET_KEY=""
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=""
